@model IEnumerable<RiadosaOrg.Models.Blog>

@{
	ViewBag.Title = "Riadosa";
}
<h2>News</h2>


@foreach (var item in Model)
{
	<div class="post">
		<div class="postDate"> @item.Date.ToString("dd MMMM yyyy")</div>
		<div class="showInfo">@Html.Raw(item.Text)</div>
	</div>
}


