@model IEnumerable<Blog>

@{
	ViewBag.Title = "Riadosa";
}
<h1>News</h1>




@foreach (var item in Model)
{
	<div class="post">
		<div class="postDate"> @item.Date.ToString("dd MMMM yyyy")</div>
		<div class="showInfo">@Html.Raw(item.Text)</div>
	</div>
	<hr />
}


