@model IEnumerable<RiadosaOrg.Models.Blog>

<h2>Riadosa</h2>


@foreach (var item in Model)
{
	<div class="post">
		<div class="postDate"> @item.Date.ToString("dd MMMM yyyy")</div>
		<div class="showInfo">@Html.Raw(item.Text)</div>
	</div>
}


