
<p>What is this then?</p>
<p>Riadosa is a town in the mythical realm of New Mexico.</p>
<p>As a kid it is hard to imagine a world outside your own worth much investigation, 
	what with the luck of having been born into heaven's front yard. "Texan by the grace god..." and so on. 
	It's something then to somehow know so early that when the time comes you know you won't quite hack it in happy valley. 
	What a relief then to hear of a place outside deemed worthy enough for even a short visit, 
	if only for a long weekend to ski in jeans, camo and gaiters. And then when you get there,
	you find out that's not even how they say/spell it?? What other wonders might this sad old world hide?</p>