@{ 
	 ViewBag.Title = "About";
}

@section Styles {
	<link href="@Url.Content("~/Content/Pages/About.css")" rel="stylesheet" type="text/css" />
}

	<div class="whatisthis">
		<h1>About</h1>
		<p>riadosaorg AT gmail DOT com</p>

		<p>Current:</p>
		<p>Alissa Nordmoe - steel guitar, vocals</p>
		<p>Tarek Karkoutly -bass, vocals</p>
		<p>Trevor Williams - guitar, vocals</p>

		<p>Former:</p>
		<p>Paul Schramm - drums</p>

		<br />
		<p>What's all this then?</p>
		<p>Riadosa is a town in the mythical realm of New Mexico.</p>
		<p>
			As a kid it is hard to imagine a world outside your own worth much investigation,
			what with the luck of having been born into heaven's front yard. "Texan by the grace of God..." and so on.
			It's something then to know so early that when the time comes you won't quite hack it in happy valley.
			What a relief then to hear of a place outside deemed worthy enough for even a short visit,
			if only for a long weekend to ski in jeans, camo and gaiters. And then when you get there,
			you find out that's not even what it's called?? What other wonders might this sad old world hide?
		</p>

	</div>

