body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Roboto Slab', serif;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.rightNav {
	position: fixed;
	right: 5%;
	top: 10%;
	opacity: 0.99;
	z-index: 10;
}

.rightNav .navbar-brand {
	margin-right:0;
	}

.rightNav nav{
	opacity: 0.99;
}


#rtCol {
	float:right;
}

nav, .mainsection, footer {
	background:#f8f9fa;
	opacity:0.9;
	border-style:solid;
	
}

.mainsection {
	opacity: 0.95;
	padding-right: 5%
}

.mainsection {
	min-height: 500px;	
}

.navbar-toggler {
	border:none;
}

footer p {
	margin:0.5rem 0;
}


.logoImg {
	width:240px;
	position:absolute;
	
	top:-87px;
	right:-40px;
}

.logoGap{
	height:10px;
}

.logoImgMob {
	width:200px;
	position:absolute;	
	top:-55px;
	left:-35px;
}